@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
	font-family: "Poppins", Sans-Serif;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	background: #e9ebeafa;
	margin: 0;
	box-shadow: 0 0 15px #5e5e5ee6;
}

h2 {
	text-align: center;
	background: #ae65f6dd;
	box-shadow: 0 0 15px #a75ff0dd;
	border-radius: 10px;
}

.sticky-heading {
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
    z-index: 1000;
}

h4 {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	border: 0;
	padding: 0;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  border: solid #28a1e4e6;
  padding: 4px;
  background: #6db9e3e6;
  border-radius: 5px;
  box-shadow: 0 0 15px #68c5f9e6;
}

.para { 
 margin-top: 30px;
 margin-left: 30px;
 margin-right: 30px;
 background: #c9fdfd;
 border-radius: 10px;
 padding: 8px;
 border: solid #08fafa;
 box-shadow: 0 0 15px #92ebebe6;
}

.def{
	display: flex;
	justify-content: space-around;
	gap: 10px
}

.img{
    flex:1;
    width: 40%;
    height: 49%
    object-fit: cover;
    border-radius: 20px;
    border: solid black;
    box-shadow: 0 0 15px #767373dd;
}

.img2{
 width: 100%;
 border: solid black;
}

#subhead {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	
}

.animelist{
	background-color: #db62f9dd;
	border-radius: 3px;
	box-shadow: 0 0 15px #e9abf9dd;
}

#btn{
	border: none;
	background: hsla(360,79%,71.4%,0.867);
	box-shadow: 0 0 15px hsla(360,40.6%,53.6%,0.867);
	border-radius: 8px;
	align-items: center;
	padding: 8px;
	font-size: 18px;
	font-weight: bold;
}

#btn:active {
	transform: scale(0.95);
  background-color: hsla(360,48%,47.4%,0.867);
  transition: background-color 0.3s ease;
}